# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
web-app-boilerplate-server
web-app

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Local configuration
.env
